In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
   ....:                    'key2' : ['one', 'two', 'one', 'two', 'one'],
   ....:                    'data1' : np.random.randn(5),
   ....:                    'data2' : np.random.randn(5)})

In [4]:
df

  key1 key2     data1     data2
0    a  one -1.585757 -3.626288
1    a  two  0.204689 -0.241629
2    b  one  1.074622  0.339270
3    b  two  0.446242  0.561671
4    a  one  0.834926 -0.051624

In [6]:
grouped = df['data1'].groupby(df['key1'])

In [7]:
grouped

In [8]:
grouped.mean()

key1
a   -0.182047
b    0.760432
Name: data1, dtype: float64

In [9]:
means = df['data1'].groupby([df['key1'],df['key2']]).mean()

In [10]:
means

key1  key2
a     one    -0.375415
      two     0.204689
b     one     1.074622
      two     0.446242
Name: data1, dtype: float64

In [11]:
means.unstack()

key2       one       two
key1
a    -0.375415  0.204689
b     1.074622  0.446242

In [12]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])

In [13]:
states

array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'], dtype='<U10')

In [14]:
years = np.array([2005,2005,2006,2005,2006])

In [16]:
df['data1'].groupby([states,years]).mean()

California  2005    0.204689
            2006    1.074622
Ohio        2005   -0.569757
            2006    0.834926
Name: data1, dtype: float64

In [18]:
df.groupby(['key1','key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [21]:
for name,group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -1.585757 -3.626288
1    a  two  0.204689 -0.241629
4    a  one  0.834926 -0.051624
b
  key1 key2     data1     data2
2    b  one  1.074622  0.339270
3    b  two  0.446242  0.561671

In [22]:
for (k1,k2),group in df.groupby(['key1','key2']):
    print((k1,k2))
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one -1.585757 -3.626288
4    a  one  0.834926 -0.051624
('a', 'two')
  key1 key2     data1     data2
1    a  two  0.204689 -0.241629
('b', 'one')
  key1 key2     data1    data2
2    b  one  1.074622  0.33927
('b', 'two')
  key1 key2     data1     data2
3    b  two  0.446242  0.561671

In [23]:
pieces = dict(list(df.groupby('key1')))

In [24]:
pieces['b']

  key1 key2     data1     data2
2    b  one  1.074622  0.339270
3    b  two  0.446242  0.561671

In [25]:
df.dtypes

key1      object
key2      object
data1    float64
data2    float64
dtype: object

In [26]:
grouped = df.groupby(df.dtypes,axis=1)

In [27]:
for dtype,group in grouped:
    print(dtype)
    print(group)

float64
      data1     data2
0 -1.585757 -3.626288
1  0.204689 -0.241629
2  1.074622  0.339270
3  0.446242  0.561671
4  0.834926 -0.051624
object
  key1 key2
0    a  one
1    a  two
2    b  one
3    b  two
4    a  one

In [29]:
df.groupby('key1')['data1']
df.groupby('key1')[['data2']]

In [30]:
df.groupby(['key1','key2'])[['data2']].mean()

              data2
key1 key2
a    one  -1.838956
     two  -0.241629
b    one   0.339270
     two   0.561671

In [31]:
s_grouped = df.groupby(['key1','key2'])['data2']

In [32]:
s_grouped

In [33]:
s_grouped.mean()

key1  key2
a     one    -1.838956
      two    -0.241629
b     one     0.339270
      two     0.561671
Name: data2, dtype: float64

In [34]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])

In [35]:
people

               a         b         c         d         e
Joe     1.740635 -0.423912  1.826651 -0.020803  0.134486
Steve   1.148614 -1.460029  0.552863 -0.014615  0.795305
Wes    -1.144749 -0.523843  1.434614 -0.957325  1.969287
Jim    -0.116901 -0.883774 -0.051454  0.091615  0.881227
Travis  0.544112  1.098092 -1.024086  1.759790  2.434010

In [37]:
people.iloc[2:3,[1,2]] = np.nan

In [38]:
people

               a         b         c         d         e
Joe     1.740635 -0.423912  1.826651 -0.020803  0.134486
Steve   1.148614 -1.460029  0.552863 -0.014615  0.795305
Wes    -1.144749       NaN       NaN -0.957325  1.969287
Jim    -0.116901 -0.883774 -0.051454  0.091615  0.881227
Travis  0.544112  1.098092 -1.024086  1.759790  2.434010

In [39]:
 mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
            'd': 'blue', 'e': 'red', 'f' : 'orange'}

In [40]:
mapping

{'a': 'red', 'b': 'red', 'c': 'blue', 'd': 'blue', 'e': 'red', 'f': 'orange'}

In [41]:
by_column = people.groupby(mapping,axis=1)

In [42]:
by_column.sum()

            blue       red
Joe     1.805848  1.451210
Steve   0.538248  0.483890
Wes    -0.957325  0.824538
Jim     0.040161 -0.119447
Travis  0.735704  4.076214

In [43]:
map_series = pd.Series(mapping)

In [45]:
map_series

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [46]:
people.groupby(map_series,axis = 1).count()

        blue  red
Joe        2    3
Steve      2    3
Wes        1    2
Jim        2    3
Travis     2    3

In [47]:
people.groupby(len).sum()

          a         b         c         d         e
3  0.478985 -1.307685  1.775198 -0.886513  2.985001
5  1.148614 -1.460029  0.552863 -0.014615  0.795305
6  0.544112  1.098092 -1.024086  1.759790  2.434010

In [48]:
key_list = ['one','one','one','two','two']

In [49]:
people.groupby([len,key_list]).min()

              a         b         c         d         e
3 one -1.144749 -0.423912  1.826651 -0.957325  0.134486
  two -0.116901 -0.883774 -0.051454  0.091615  0.881227
5 one  1.148614 -1.460029  0.552863 -0.014615  0.795305
6 two  0.544112  1.098092 -1.024086  1.759790  2.434010

In [50]:
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],
                                    [1, 3, 5, 1, 3]],
                                    names=['cty', 'tenor'])

In [51]:
columns

MultiIndex(levels=[['JP', 'US'], [1, 3, 5]],
           labels=[[1, 1, 1, 0, 0], [0, 1, 2, 0, 1]],
           names=['cty', 'tenor'])

In [52]:
hier_df = pd.DataFrame(np.random.randn(4,5),columns=columns)

In [53]:
hier_df

cty          US                            JP
tenor         1         3         5         1         3
0      0.793896  1.790309 -0.185034  1.779711 -2.235920
1     -1.317931  1.019649 -1.810385 -1.626583  0.318545
2     -0.503514  1.841105  0.389956 -0.102053 -2.088604
3      0.044364  0.433683  0.505523 -0.374447  0.842042

In [54]:
hier_df.groupby(level='cty',axis=1).count()

cty  JP  US
0     2   3
1     2   3
2     2   3
3     2   3

In [55]:
df

  key1 key2     data1     data2
0    a  one -1.585757 -3.626288
1    a  two  0.204689 -0.241629
2    b  one  1.074622  0.339270
3    b  two  0.446242  0.561671
4    a  one  0.834926 -0.051624

In [56]:
group = df.groupby('key1')

In [57]:
grouped['data1'].quantile(0.9)

float64    1.011784
object     0.025645
Name: data1, dtype: float64

In [15]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [61]:
grouped.agg(peak_to_peak)

TypeError: ("unsupported operand type(s) for -: 'str' and 'str'", 'occurred at index 0')

In [2]:
tips.groupby(['day','smoker'],as_index=False).mean()

NameError: name 'tips' is not defined

In [5]:
 tips = pd.read_csv('tips.csv')

In [6]:
tips['tip_pct'] = tips['tip'] / tips['total_bill']

In [7]:
tips[:6]

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808
5       25.29  4.71     No  Sun  Dinner     4  0.186240

In [8]:
grouped = tips.groupby(['day','smoker'])

In [10]:
grouped_pct = grouped['tip_pct']

In [11]:
grouped_pct.agg('mean')

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

In [16]:
grouped_pct.agg(['mean', 'std', peak_to_peak])

                 mean       std  peak_to_peak
day  smoker
Fri  No      0.151650  0.028123      0.067349
     Yes     0.174783  0.051293      0.159925
Sat  No      0.158048  0.039767      0.235193
     Yes     0.147906  0.061375      0.290095
Sun  No      0.160113  0.042347      0.193226
     Yes     0.187250  0.154134      0.644685
Thur No      0.160298  0.038774      0.193350
     Yes     0.163863  0.039389      0.151240

In [17]:
grouped_pct.agg([('foo','mean'),('bar',np.std)])

                  foo       bar
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389

In [18]:
functions = ['count','mean','max']

In [19]:
result = grouped['tip_pct','total_bill'].agg(functions)

In [20]:
result

            tip_pct                     total_bill
              count      mean       max      count       mean    max
day  smoker
Fri  No           4  0.151650  0.187735          4  18.420000  22.75
     Yes         15  0.174783  0.263480         15  16.813333  40.17
Sat  No          45  0.158048  0.291990         45  19.661778  48.33
     Yes         42  0.147906  0.325733         42  21.276667  50.81
Sun  No          57  0.160113  0.252672         57  20.506667  48.17
     Yes         19  0.187250  0.710345         19  24.120000  45.35
Thur No          45  0.160298  0.266312         45  17.113111  41.19
     Yes         17  0.163863  0.241255         17  19.190588  43.11

In [21]:
result['tip_pct']

             count      mean       max
day  smoker
Fri  No          4  0.151650  0.187735
     Yes        15  0.174783  0.263480
Sat  No         45  0.158048  0.291990
     Yes        42  0.147906  0.325733
Sun  No         57  0.160113  0.252672
     Yes        19  0.187250  0.710345
Thur No         45  0.160298  0.266312
     Yes        17  0.163863  0.241255

In [22]:
ftuples = [('Durchschnitt','mean'),('Abweichung',np.var)]

In [23]:
grouped['tip_pct','total_bill'].agg(ftuples)

                 tip_pct              total_bill
            Durchschnitt Abweichung Durchschnitt  Abweichung
day  smoker
Fri  No         0.151650   0.000791    18.420000   25.596333
     Yes        0.174783   0.002631    16.813333   82.562438
Sat  No         0.158048   0.001581    19.661778   79.908965
     Yes        0.147906   0.003767    21.276667  101.387535
Sun  No         0.160113   0.001793    20.506667   66.099980
     Yes        0.187250   0.023757    24.120000  109.046044
Thur No         0.160298   0.001503    17.113111   59.625081
     Yes        0.163863   0.001551    19.190588   69.808518

In [24]:
grouped.agg({'tip':np.max,'size':'sum'})

               tip  size
day  smoker
Fri  No       3.50     9
     Yes      4.73    31
Sat  No       9.00   115
     Yes     10.00   104
Sun  No       6.00   167
     Yes      6.50    49
Thur No       6.70   112
     Yes      5.00    40

In [25]:
grouped.agg({'tip_pct' : ['min', 'max', 'mean', 'std'],
             'size' : 'sum'})

              tip_pct                               size
                  min       max      mean       std  sum
day  smoker
Fri  No      0.120385  0.187735  0.151650  0.028123    9
     Yes     0.103555  0.263480  0.174783  0.051293   31
Sat  No      0.056797  0.291990  0.158048  0.039767  115
     Yes     0.035638  0.325733  0.147906  0.061375  104
Sun  No      0.059447  0.252672  0.160113  0.042347  167
     Yes     0.065660  0.710345  0.187250  0.154134   49
Thur No      0.072961  0.266312  0.160298  0.038774  112
     Yes     0.090014  0.241255  0.163863  0.039389   40

In [26]:
tips.groupby(['day','smoker'],as_index=False).mean()

    day smoker  total_bill       tip      size   tip_pct
0   Fri     No   18.420000  2.812500  2.250000  0.151650
1   Fri    Yes   16.813333  2.714000  2.066667  0.174783
2   Sat     No   19.661778  3.102889  2.555556  0.158048
3   Sat    Yes   21.276667  2.875476  2.476190  0.147906
4   Sun     No   20.506667  3.167895  2.929825  0.160113
5   Sun    Yes   24.120000  3.516842  2.578947  0.187250
6  Thur     No   17.113111  2.673778  2.488889  0.160298
7  Thur    Yes   19.190588  3.030000  2.352941  0.163863

In [27]:
def top(df, n=5, column='tip_pct'):
        return df.sort_values(by=column)[-n:]

In [29]:
top(tips,n=6)

     total_bill   tip smoker  day    time  size   tip_pct
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
232       11.61  3.39     No  Sat  Dinner     2  0.291990
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345

In [30]:
tips.groupby('smoker').apply(top)

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85     No  Thur   Lunch     2  0.236746
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       232       11.61  3.39     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [31]:
tips.groupby(['smoker','day']).apply(top,n=1,column='total_bill')

                 total_bill    tip smoker   day    time  size   tip_pct
smoker day
No     Fri  94        22.75   3.25     No   Fri  Dinner     2  0.142857
       Sat  212       48.33   9.00     No   Sat  Dinner     4  0.186220
       Sun  156       48.17   5.00     No   Sun  Dinner     6  0.103799
       Thur 142       41.19   5.00     No  Thur   Lunch     5  0.121389
Yes    Fri  95        40.17   4.73    Yes   Fri  Dinner     4  0.117750
       Sat  170       50.81  10.00    Yes   Sat  Dinner     3  0.196812
       Sun  182       45.35   3.50    Yes   Sun  Dinner     3  0.077178
       Thur 197       43.11   5.00    Yes  Thur   Lunch     4  0.115982

In [32]:
result = tips.groupby('smoker')['tip_pct'].describe()

In [33]:
result

,count,mean,std,min,25%,50%,75%,max
smoker,,,,,,,,
No,151.0,0.159328,0.039910,0.056797,0.136906,0.155625,0.185014,0.291990
Yes,93.0,0.163196,0.085119,0.035638,0.106771,0.153846,0.195059,0.710345

In [34]:
result.unstack('smoker')

       smoker
count  No        151.000000
       Yes        93.000000
mean   No          0.159328
       Yes         0.163196
std    No          0.039910
       Yes         0.085119
min    No          0.056797
       Yes         0.035638
25%    No          0.136906
       Yes         0.106771
50%    No          0.155625
       Yes         0.153846
75%    No          0.185014
       Yes         0.195059
max    No          0.291990
       Yes         0.710345
dtype: float64

In [35]:
f = lambda x:x.describe()

In [36]:
grouped.apply(f)

                   total_bill        tip       size    tip_pct
day  smoker
Fri  No     count    4.000000   4.000000   4.000000   4.000000
            mean    18.420000   2.812500   2.250000   0.151650
            std      5.059282   0.898494   0.500000   0.028123
            min     12.460000   1.500000   2.000000   0.120385
            25%     15.100000   2.625000   2.000000   0.137239
            50%     19.235000   3.125000   2.000000   0.149241
            75%     22.555000   3.312500   2.250000   0.163652
            max     22.750000   3.500000   3.000000   0.187735
     Yes    count   15.000000  15.000000  15.000000  15.000000
            mean    16.813333   2.714000   2.066667   0.174783
            std      9.086388   1.077668   0.593617   0.051293
            min      5.750000   1.000000   1.000000   0.103555
            25%     11.690000   1.960000   2.000000   0.133739
            50%     13.420000   2.500000   2.000000   0.173913
            75%     18.665000   3.240000   2.000000   0.209240
            max     40.170000   4.730000   4.000000   0.263480
Sat  No     count   45.000000  45.000000  45.000000  45.000000
            mean    19.661778   3.102889   2.555556   0.158048
            std      8.939181   1.642088   0.784960   0.039767
            min      7.250000   1.000000   1.000000   0.056797
            25%     14.730000   2.010000   2.000000   0.136240
            50%     17.820000   2.750000   2.000000   0.150152
            75%     20.650000   3.390000   3.000000   0.183915
            max     48.330000   9.000000   4.000000   0.291990
     Yes    count   42.000000  42.000000  42.000000  42.000000
            mean    21.276667   2.875476   2.476190   0.147906
            std     10.069138   1.630580   0.862161   0.061375
            min      3.070000   1.000000   1.000000   0.035638
            25%     13.405000   2.000000   2.000000   0.091797
            50%     20.390000   2.690000   2.000000   0.153624
...                       ...        ...        ...        ...
Sun  No     std      8.130189   1.224785   1.032674   0.042347
            min      8.770000   1.010000   2.000000   0.059447
            25%     14.780000   2.000000   2.000000   0.139780
            50%     18.430000   3.020000   3.000000   0.161665
            75%     25.000000   3.920000   4.000000   0.185185
            max     48.170000   6.000000   6.000000   0.252672
     Yes    count   19.000000  19.000000  19.000000  19.000000
            mean    24.120000   3.516842   2.578947   0.187250
            std     10.442511   1.261151   0.901591   0.154134
            min      7.250000   1.500000   2.000000   0.065660
            25%     17.165000   3.000000   2.000000   0.097723
            50%     23.100000   3.500000   2.000000   0.138122
            75%     32.375000   4.000000   3.000000   0.215325
            max     45.350000   6.500000   5.000000   0.710345
Thur No     count   45.000000  45.000000  45.000000  45.000000
            mean    17.113111   2.673778   2.488889   0.160298
            std      7.721728   1.282964   1.179796   0.038774
            min      7.510000   1.250000   1.000000   0.072961
            25%     11.690000   1.800000   2.000000   0.137741
            50%     15.950000   2.180000   2.000000   0.153492
            75%     20.270000   3.000000   2.000000   0.184843
            max     41.190000   6.700000   6.000000   0.266312
     Yes    count   17.000000  17.000000  17.000000  17.000000
            mean    19.190588   3.030000   2.352941   0.163863
            std      8.355149   1.113491   0.701888   0.039389
            min     10.340000   2.000000   2.000000   0.090014
            25%     13.510000   2.000000   2.000000   0.148038
            50%     16.470000   2.560000   2.000000   0.153846
            75%     19.810000   4.000000   2.000000   0.194837
            max     43.110000   5.000000   4.000000   0.241255

[64 rows x 4 columns]

In [38]:
tips.groupby('smoker',group_keys=False).apply(top)

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [39]:
frame = pd.DataFrame({'data1':np.random.randn(1000),
                      'data2':np.random.randn(1000)})

In [40]:
quartiles = pd.cut(frame.data1,4)

In [41]:
quartiles[:10]

0    (-1.593, -0.0812]
1      (-0.0812, 1.43]
2    (-1.593, -0.0812]
3        (1.43, 2.942]
4        (1.43, 2.942]
5      (-0.0812, 1.43]
6        (1.43, 2.942]
7    (-1.593, -0.0812]
8    (-1.593, -0.0812]
9    (-1.593, -0.0812]
Name: data1, dtype: category
Categories (4, interval[float64]): [(-3.11, -1.593] < (-1.593, -0.0812] < (-0.0812, 1.43] < (1.43, 2.942]]

In [42]:
def get_stats(group):
    return {'min':group.min(),'max':group.max(),
           'count':group.count(),'mean':group.mean()}

In [44]:
grouped = frame.data2.groupby(quartiles)

In [45]:
grouped.apply(get_stats).unstack()

                   count       max      mean       min
data1
(-3.11, -1.593]     49.0  2.151028 -0.081960 -1.850428
(-1.593, -0.0812]  406.0  2.572940  0.090661 -3.410029
(-0.0812, 1.43]    460.0  2.470277  0.023849 -3.652522
(1.43, 2.942]       85.0  2.282161  0.037718 -2.124193

In [47]:
grouping = pd.qcut(frame.data1,10,labels=False)

In [48]:
grouped = frame.data2.groupby(grouping)

In [49]:
grouped.apply(get_stats).unstack()

       count       max      mean       min
data1
0      100.0  2.483530 -0.016359 -2.053510
1      100.0  2.530250 -0.040248 -2.654877
2      100.0  2.365198  0.146398 -2.357106
3      100.0  2.572940  0.120489 -2.916143
4      100.0  2.515330  0.146509 -3.410029
5      100.0  2.316007  0.058192 -2.486816
6      100.0  2.093871  0.019554 -3.652522
7      100.0  2.470277  0.107574 -2.263275
8      100.0  2.046406 -0.054524 -2.776464
9      100.0  2.282161 -0.017894 -2.124193

In [50]:
s = pd.Series(np.random.randn(6))

In [51]:
s[::2] = np.nan

In [52]:
s

0         NaN
1   -0.601232
2         NaN
3   -0.299831
4         NaN
5    0.981934
dtype: float64

In [53]:
s.fillna(s.mean())

0    0.026957
1   -0.601232
2    0.026957
3   -0.299831
4    0.026957
5    0.981934
dtype: float64

In [54]:
states = ['Ohio', 'New York', 'Vermont', 'Florida',
          'Oregon', 'Nevada', 'California', 'Idaho']

In [55]:
group_key = ['East']*4 +['West']*4

In [56]:
data = pd.Series(np.random.randn(8),index=states)

In [57]:
data

Ohio          0.105348
New York     -0.264970
Vermont      -0.209920
Florida      -0.187472
Oregon       -0.064897
Nevada       -0.175839
California   -1.799151
Idaho         0.662642
dtype: float64

In [58]:
data[['Vermont','Nevada','Idaho']] = np.nan

In [59]:
data

Ohio          0.105348
New York     -0.264970
Vermont            NaN
Florida      -0.187472
Oregon       -0.064897
Nevada             NaN
California   -1.799151
Idaho              NaN
dtype: float64

In [60]:
data.groupby(group_key).mean()

East   -0.115698
West   -0.932024
dtype: float64

In [62]:
fill_mean = lambda g:g.fillna(g.mean())

In [63]:
data.groupby(group_key).apply(fill_mean)

Ohio          0.105348
New York     -0.264970
Vermont      -0.115698
Florida      -0.187472
Oregon       -0.064897
Nevada       -0.932024
California   -1.799151
Idaho        -0.932024
dtype: float64

In [64]:
fill_values = {'East':0.5,'West':-1}

In [65]:
fill_func = lambda g:g.fillna(fill_values[g.name])

In [66]:
data.groupby(group_key).apply(fill_func)

Ohio          0.105348
New York     -0.264970
Vermont       0.500000
Florida      -0.187472
Oregon       -0.064897
Nevada       -1.000000
California   -1.799151
Idaho        -1.000000
dtype: float64

In [67]:
suits = ['H','S','C','D']

In [68]:
card_val = (list(range(1,11))+[10]*3)*4

In [69]:
base_names =['A']+list(range(2,11))+['J','K','Q']

In [70]:
cards = []

In [71]:
for suit in ['H','S','C','D']:
    cards.extend(str(num) + suit for num in base_names)

In [73]:
deck = pd.Series(card_val,index=cards)

In [74]:
deck[:13]

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
dtype: int64

In [75]:
def draw(deck,n=5):
    return deck.sample(n)

In [76]:
draw(deck)

KD    10
8D     8
2C     2
AD     1
5S     5
dtype: int64

In [77]:
get_suit = lambda card:card[-1]

In [78]:
deck.groupby(get_suit).apply(draw,n=2)

C  AC      1
   9C      9
D  JD     10
   3D      3
H  10H    10
   2H      2
S  3S      3
   KS     10
dtype: int64

In [79]:
deck.groupby(get_suit,group_keys=False).apply(draw,n=2)

KC     10
10C    10
3D      3
QD     10
7H      7
KH     10
10S    10
4S      4
dtype: int64

In [80]:
 df = pd.DataFrame({'category': ['a', 'a', 'a', 'a',
   .....:           'b', 'b', 'b', 'b'],
   .....:           'data': np.random.randn(8),
   .....:           'weights': np.random.rand(8)})

In [81]:
df

  category      data   weights
0        a -0.358960  0.685945
1        a  0.299210  0.109151
2        a -0.581257  0.863618
3        a -0.950181  0.272761
4        b  1.002679  0.808581
5        b -0.046135  0.591392
6        b  0.856738  0.622025
7        b  0.033273  0.802985

In [82]:
grouped = df.groupby('category')

In [85]:
get_wavg = lambda g:np.average(g['data'],weights=g['weights'])

In [86]:
grouped.apply(get_wavg)

category
a   -0.504653
b    0.475434
dtype: float64